@import '@styles';

.aboutWrapper {
  .counterScreenImg {
    zoom: 25%;
    border-radius: 3%;
  }

  footer {
    .getStartedIcon {
      width: 1.3rem;
      fill: $pad-background-color;
    }

    button {
      margin-left: 1rem;
    }
  }
}
