@import '@styles';

.buttonComponent {
  cursor: pointer;
  opacity: 0.8;
  border: 0;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 2%;
}

.darkBtn {
  background: $button-background-color;
  @include common-box-shadow($shadow-color);
}

.lightBtn {
  background: $button-background-color-light;
  @include common-box-shadow($shadow-color-light);
}
