@import '@styles';

.padWrapper {
    margin: 0.8rem 0.5rem 0;
    padding: 0.5rem;
    border: solid 0px;
    border-radius: 1rem;
}

.lightPad {
    background-color: $pad-back-ground-color-light;
    @include common-box-shadow($shadow-color-light);
}

.darkPad {
    background-color: $pad-back-ground-color;
    @include common-box-shadow($shadow-color);
}