.filterButtonsBlockWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.8em 0.5em 0;
}

.filterButtonsBlockWrapper .active {
    /*to-do: create a theme*/
    /*create a mixin for common box-shadow in scss*/
    box-shadow: 0px 0px 13px -1px #c6cbde;
    opacity: 1;
}

.filterButtonsBlockWrapper div {
    border: solid 0px;
    border-radius: 1em;
    box-shadow: 0px 0px 4px -1px #c6cbde;
    background-color: rgba(31, 37, 61, 255);
    padding: 1% 2%;
    opacity: 0.7;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filterButtonsBlockWrapper div p{
    margin: 0;
}
