@import '@styles';

.totalAmountInputWrapper.lightPad {
  input {
    background-color: $input-background-color-light;
  }
}
.totalAmountInputWrapper {
  input {
    all: unset;
    border-radius: 0.2rem;
    background-color: $input-background-color;
    color: black;
    font-size: 1.7rem;
    width: 30vh;
  }
  > * {
    margin-bottom: 0.5rem;
  }
}
