@mixin common-box-shadow($color) {
  box-shadow: 0px 1px 13px -2px $color;
}

//dark-theme
$button-background-color: #8498ea;
$pad-background-color: rgba(31, 37, 61, 255);
$input-background-color: #8e9edf;
$primary-text-color: #c6cbde;
$background-color: rgba(39, 43, 70, 255);
$shadow-color: #c6cbde;

//light-theme
$input-background-color-light: #d8e0ff;
$button-background-color-light: #e8e8e8;
$primary-text-color-light: rgba(39, 43, 70, 255);
$background-color-light: #c6cbde;
$shadow-color-light: rgba(31, 37, 61, 255);
$pad-background-color-light: rgb(188 194 220);
