.headerWrapper {
    border-bottom: solid 1px black;
    display: flex;
    justify-content: center;
    position: relative;
}
.headerWrapper h1{
    font-size: 1em;
}
.headerWrapper :last-child{
    position: absolute;
    right: 0;
    width: 15%;
    cursor: pointer;
}

