@import '@styles';

.appWrapper {
  text-align: center;
  height: 100vh;
  .App {
    margin: 0 auto;
    max-width: 30rem;
  }
}

.light {
  background-color: $background-color-light;
  color: $primary-text-color-light;
}
.dark {
  background-color: $background-color;
  color: $primary-text-color;
}
