@import '@styles';

.infoInputsWrapper.lightPad {
  form {
    .inputBlock {
      input {
        background-color: $input-background-color-light;
      }
    }
  }
}

.infoInputsWrapper {
  form {
    :first-child {
      margin-bottom: 0.5rem;
    }

    :last-child {
      margin-bottom: 0;
    }

    button {
      font-size: 1rem;
    }

    .inputBlock {
      display: flex;
      flex-direction: column;
      width: 30vh;
      margin: 0 auto 0.5rem;

      :first-child {
        margin-bottom: 0.5rem;
      }

      input {
        all: unset;
        border-radius: 0.2rem;
        background-color: $input-background-color;
        color: black;
        font-size: 1.3rem;
        padding: 2%;

        &::placeholder {
          color: black;
        }
      }
    }
  }
}
