.workwrsWrapper>* {
    margin-bottom: 0.5em;
}

.workwrsWrapper button {
    cursor: pointer;
    opacity: 0.8;
    background: #edf0fc;
    border: 0;
    border-radius: 5px;
}
.workwrsWrapper input {
    all:unset;
    border-radius: 0.2em;
    background-color: #e7e9f1;
    color: black;
}



.workwrsWrapper .inputBlock{
    display: flex;
    justify-content: space-evenly;
}
.workwrsWrapper .inputBlock div{
    display: flex;
    justify-content: space-evenly;
    width: 8em;
}